################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aspire.Hosting.AgileConfig
/src/.vs
/src/bin/Debug/net8.0
/src/obj
